name: Deploy to EC2

on:
  push:
    branches:
      - develop
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    environment: ${{ github.ref == 'refs/heads/main' && 'production' || 'staging' }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_EC2_HOST }}
          username: ${{ secrets.AWS_EC2_USERNAME }}
          key: ${{ secrets.AWS_EC2_SSH_PRIVATE_KEY }}
          script: |
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}:latest
            docker stop ${{ github.event.repository.name }}-${{vars.ENV}} || true
            docker rm ${{ github.event.repository.name }}-${{vars.ENV}} || true
            docker run -d -p ${{vars.PORT}}:${{vars.PORT}} \
              --name ${{ github.event.repository.name }}-${{vars.ENV}} \
              --network="${{vars.DOCKER_NETWORK}}" \
              -e PORT="${{vars.PORT}}" \
              -e DISCORD_PUBLIC_KEY="${{secrets.DISCORD_PUBLIC_KEY}}" \
              -e BOT_TOKEN="${{secrets.BOT_TOKEN}}" \
              -e GUILD_ID="${{secrets.GUILD_ID}}" \
              -e QUEUE_NAME="${{vars.QUEUE_NAME}}" \
              -e QUEUE_URL="${{vars.QUEUE_URL}}" \
              -e ENV="${{vars.ENV}}" \
              -e RDS_BASE_API_URL="${{vars.RDS_BASE_API_URL}}" \
              -e MAIN_SITE_URL="${{vars.MAIN_SITE_URL}}" \
              -e BOT_PRIVATE_KEY="${{secrets.BOT_PRIVATE_KEY}}" \
              ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
